.idea/
__pycache__/
.vscode/
{"status":"success","message":{"key":{"remoteJid":"919774420492@c.us","fromMe":true,"id":"BAE57F2214D879D9"},"message":{"extendedTextMessage":{"text":"Sir
MantoshKmr, Your Payment for Rs.100.0\/- on Dt.28-06-2024 ag. Ref. No. 00000047 has been initiated, Kindly confirm the
same. If you have any query Please feel free to contact on this no. 8014762639. Thanks, Harshika
Electricals"}},"messageTimestamp":"1719586277"}}
{"status":"success","message":{"key":{"remoteJid":"919774420492@c.us","fromMe":true,"id":"BAE575284FF74FB6"},"message":{"extendedTextMessage":{"text":"Sir
MantoshKmr, Your Payment for Rs.100.0\/- on Dt.28-06-2024 ag. Ref. No. 00000047 has been initiated, Kindly confirm the
same. If you have any query Please feel free to contact on this no. 8014762639. Thanks, Harshika
Electricals"}},"messageTimestamp":"1719586630"}}