{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>123DACN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        @page {
            size: A5;
            margin: .3cm;
        }

        section {
            columns: 2;
        }

        .skip {
            columns: 7;
        }

        table.table-bordered > thead > tr > th {
            border: 1px solid grey !important;
        }

        table.table-bordered > tbody > tr > td {
            border: 1px solid grey !important;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <span style="font-size: 10px;">Date: {{ date }}</span>
        <span style="font-size: 9px;float: right">123DACN Collection Report-({{ company }})</span>
    </div>
    <p style="font-size: 10px; margin: 2px;">Supply Collection (Cash)(Not Approved)</p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">Amount(₹)</th>
                <th scope="col">Cus_Name</th>
                <th scope="col">Remark</th>

            </tr>
            </thead>
            <tbody>
            {% for foo in supCash_pending %}
                <tr>
                    <td>{{ foo.amount }}</td>
                    <td>{{ foo.buyerID.name|truncatechars:20 }}</td>
                    <td>{{ foo.remark }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Collection<span
            style="float: right">Total: ₹ <strong>{{ col_total }}</strong></span></p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">Amount(₹)</th>
                <th scope="col">Cus_Name</th>
                <th scope="col">Remark</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in col %}
                <tr>
                    <td>{{ foo.amount }}</td>
                    <td>{{ foo.buyerID.name|truncatechars:20 }}</td>
                    <td>{{ foo.remark }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">CC<span style="float: right">Total: ₹ <strong>{{ col_total_cash }}</strong></span>
    </p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">Amount(₹)</th>
                <th scope="col">Cus_Name</th>
                <th scope="col">Remark</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in colCash %}
                <tr>
                    <td>{{ foo.amount }}</td>
                    <td>{{ foo.buyerID.name|truncatechars:20 }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Supply Collection (Cash)<span
            style="float: right">Total: ₹ <strong>{{ sup_total_cash }}</strong></span></p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">Amount(₹)</th>
                <th scope="col">Cus_Name</th>
                <th scope="col">Remark</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in supCash %}
                <tr>
                    <td>{{ foo.amount }}</td>
                    <td>{{ foo.buyerID.name|truncatechars:20 }}</td>
                    <td>{{ foo.remark }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Supply Collection (CC)<span
            style="float: right">Total: ₹ <strong>{{ sup_total_cheque }}</strong></span></p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">Amount(₹)</th>
                <th scope="col">Cus_Name</th>
                <th scope="col">Remark</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in supCheque %}
                <tr>
                    <td>{{ foo.amount }}</td>
                    <td>{{ foo.buyerID.name|truncatechars:20 }}</td>
                    <td>{{ foo.remark }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Invoice Supply Collection</p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">InvoiceNo.</th>
                <th scope="col">Amount(₹)</th>
                <th scope="col">Cus_Name</th>
                <th scope="col">Remark</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in invoices %}
                <tr>
                    <td> {{ foo.invoiceNumber }}</td>
                    <td> {{ foo.amount }}</td>
                    <td>{{ foo.buyerID.name|truncatechars:20 }}</td>
                    <td>{{ foo.remark }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Supply Collection (CC)(Not Approved)</p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">Amount(₹)</th>
                <th scope="col">Cus_Name</th>
                <th scope="col">Remark</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in supCheque_pending %}
                <tr>
                    <td>{{ foo.amount }}</td>
                    <td>{{ foo.buyerID.name|truncatechars:20 }}</td>
                    <td>{{ foo.remark }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Invoice Supply Collection (Not Approved)</p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">InvoiceNo.</th>
                <th scope="col">Amount(₹)</th>
                <th scope="col">Cus_Name</th>
                <th scope="col">Remark</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in supInvoice_pending %}
                <tr>
                    <td> {{ foo.invoiceNumber }}</td>
                    <td> {{ foo.amount }}</td>
                    <td>{{ foo.buyerID.name|truncatechars:20 }}</td>
                    <td>{{ foo.remark }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>
</body>
</html>