{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>123DACN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        @page {
            size: A5;
            margin: .3cm;
        }

        section {
            columns: 3;
        }

        #Credit {
            columns: 2;
        }

        .skip {
            columns: 7;
        }

        table.table-bordered > thead > tr > th {
            border: 1px solid grey !important;
        }

        table.table-bordered > tbody > tr > td {
            border: 1px solid grey !important;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <span style="font-size: 10px;">Date: {{ date }}</span>
        <span style="font-size: 9px;float: right">123DACN Sales Report-({{ company }})</span>
    </div>
    <p style="font-size: 10px; margin: 2px;"><span
            style="padding-right: 20px">Opening Balance: ₹ <strong>{{ opening }}</strong></span><span
            style="padding-right: 20px">Closing Balance: ₹ <strong>{{ closing }}</strong></span></p>
    <p style="font-size: 10px; margin: 2px;">Rokad Value: ₹ <strong>{{ rokad }}</strong></p>
    <br>
    <p style="font-size: 10px; margin: 2px;">Cash<span
            style="float: right">Total: ₹ <strong>{{ cash_total }}</strong></span></p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">Bill_No.</th>
                <th scope="col">Amount(₹)</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in sales_cash %}
                <tr>
                    <td>{{ foo.billNumber }}</td>
                    <td>{{ foo.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Card<span
            style="float: right">Total: ₹ <strong>{{ card_total }}</strong></span></p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">Bill_No.</th>
                <th scope="col">Amount(₹)</th>
                <th scope="col">Remark(₹)</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in sales_card %}
                <tr>
                    <td>{{ foo.billNumber }}</td>
                    <td>{{ foo.amount }}</td>
                    <td>{{ foo.remark }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Credit </p>
    <section id="Credit">
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">Bill_No.</th>
                <th scope="col">Chal_No.</th>
                <th scope="col">Amount(₹)</th>
                <th scope="col">Cus_Name</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in sales_credit %}
                <tr>
                    <td>{{ foo.billNumber }}</td>
                    <td>{{ foo.challanNumber }}</td>
                    <td>{{ foo.amount }}</td>
                    <td>{{ foo.customerName|truncatechars:15 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Mix<span style="float: right">Cash: ₹ <strong>{{ mix_cash_total }}</strong></span><span
            style="float: right">Card: ₹ <strong>{{ mix_card_total }}</strong></span><span style="float: right">Total: ₹ <strong>{{ mix_total }}</strong></span>
    </p>
    <section id="Mix">
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">Bill_No.</th>
                <th scope="col">CashAmount(₹).</th>
                <th scope="col">CardAmount(₹)</th>
                <th scope="col">Card Remark</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in sales_mix %}
                <tr>
                    <td>{{ foo.billNumber }}</td>
                    <td>{{ foo.amount }}</td>
                    <td>{{ foo.mixCardAmount }}</td>
                    <td>{{ foo.remark }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Returns <span
            style="float: right">Total: ₹ <strong> -{{ return_total }}</strong></span></p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">InvoiceNo.</th>
                <th scope="col">Amount(₹)</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in returns %}
                <tr>
                    <td>{{ foo.actualBillNumber }}</td>
                    <td>-{{ foo.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Corrections <span
            style="float: right">Total: ₹ <strong> {{ correct_total }}</strong></span></p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">InvoiceNo.</th>
                <th scope="col">Amount(₹)</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in corrections %}
                <tr>
                    <td>{{ foo.actualBillNumber }}</td>
                    <td>{{ foo.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Commission <span
            style="float: right">Total: ₹ <strong> -{{ commission_total }}</strong></span></p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">InvoiceNo.</th>
                <th scope="col">Amount(₹)</th>

            </tr>
            </thead>
            <tbody>
            {% for foo in commissions %}
                <tr>
                    <td>{{ foo.actualBillNumber }}</td>
                    <td>-{{ foo.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Expenses <span
            style="float: right">Total: ₹ <strong> {{ expense_total }}</strong></span></p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">Remark</th>
                <th scope="col">Amount(₹)</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in expenses %}
                <tr>
                    <td>{{ foo.remark }}</td>
                    <td>{{ foo.amount }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </section>

 <p style="font-size: 10px; margin: 2px;">Staff Advance <span
            style="float: right">Total: ₹ <strong> {{ advance_total }}</strong></span></p>
    <section>
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">CustomerName</th>
                <th scope="col">Amount(₹)</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in advance %}
                <tr>
                    <td>{{ foo.buyerID.name|truncatechars:20 }}</td>
                    <td>{{ foo.amount }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </section>
    <p style="font-size: 10px; margin: 2px;">Skipped Invoice Number </p>
    <section class="skip">
        <table class="table table-bordered" style="font-size: 9px;">
            <thead>
            <tr>
                <th scope="col">InvoiceNo.</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in skipped %}
                <tr>
                    <th scope="row">{{ foo }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>
</body>
</html>