{% extends 'mamtaApp/index.html' %}
{% load staticfiles %}
{% block body %}
    <style>
        .card {
            background: #fff;
            min-height: 50px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
            position: relative;
            margin-bottom: 30px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
        }

        .dt-buttons {
            padding-top: 10px;
        }

        .hidePadding {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    </style>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">

                <div style="float: right">
                    {% if request.user|has_group:"Admin" %}

                        <button style="background-color: #3F51B5;color: white;margin-bottom: 10px" type="button"
                                class="btn  waves-effect " data-toggle="modal" data-target="#defaultModal">Add Invoice
                            Serial
                        </button>
                    {% endif %}
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidePadding">
                    <div class="card">

                        <div class="header">
                            <h2>
                                INVOICE SERIAL LIST
                            </h2>

                        </div>

                        <div class="body">
                            <div class="table-responsive">
                                <table id="buyerCreditTable" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Series</th>
                                        <th>Company</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Series</th>
                                        <th>Company</th>

                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Add Invoice Serial</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'invoiceApp:add_invoice_serial' %}" id="AddCreditForm"
                          method="post"> {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">

                                        <div class="row clearfix">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                        <i class="material-icons">location_city</i>
                                        </span>
                                                    <div class="form-line">
                                                        <select class="form-control show-tick" id="companyID"
                                                                name="companyID">
                                                            <option value="all">Select Company</option>
                                                            {% for comp in company %}
                                                                <option value="{{ comp.pk }}">{{ comp.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">receipt</i>
                                        </span>
                                                    <div class="form-line">
                                                        <input type="text" class="form-control date"
                                                               placeholder="Invoice Series Number" name="invoiceSeries"
                                                               id="invoiceSeries">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" onclick="AddCredit()">Submit</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="defaultModalEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Edit Invoice Serial</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'invoiceApp:edit_invoice_serial' %}" id="EditCreditForm"
                          method="post"> {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <input type="hidden" id="invoiceID" name="invoiceID">

                                    <div class="body">

                                        <div class="row clearfix">
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">receipt</i>
                                        </span>
                                                    <div class="form-line">
                                                        <input type="text" class="form-control date"
                                                               placeholder="Invoice Series Number" name="einvoiceSeries"
                                                               id="einvoiceSeries">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" onclick="EditInvoice()">Submit</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('#buyerCreditTable').dataTable({
                dom: 'Blfrtip',
                buttons: ['excel', 'print'
                ],
                "columnDefs": [
                    {"name": "id", "targets": 0, "orderable": false},
                    {"name": "series", "targets": 1, "orderable": true},
                    {"name": "companyID", "targets": 2, "orderable": true},
                    {#                    {"name": "action", "targets": 2, "orderable": false},#}

                ],
                aaSorting: [[1, 'asc']],
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'invoiceApp:InvoiceSeriesListJson' %}"
            });
        });


    </script>
    <script>
        function AddCredit() {
            var invoiceSeries = $('#invoiceSeries').val();
            var companyID = $('#companyID').val();


            if (invoiceSeries === "" || companyID === "all") {
                $('#name_status').addClass('validate_data');
                $('#name_status').html('* fields are required.');
                $('#name_status').fadeIn().fadeOut(2000);

            }
            else {

                $('#AddCreditForm').submit();

            }


        }
        function EditInvoice() {
            {#            var buyerID = $('#ebuyerID').val();#}
            var invoiceSeries = $('#einvoiceSeries').val();


            if (invoiceSeries === "") {
                $('#name_status').addClass('validate_data');
                $('#name_status').html('* fields are required.');
                $('#name_status').fadeIn().fadeOut(2000);

            }
            else {

                $('#EditCreditForm').submit();

            }


        }
        function getDetail(id, series) {
            $('#invoiceID').val(id);
            $('#einvoiceSeries').val(series);


        }
    </script>
{% endblock %}