{% extends 'mamtaApp/index.html' %}
{% load staticfiles %}
{% block body %}
    <style>
        .card {
            background: #fff;
            min-height: 50px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
            position: relative;
            margin-bottom: 30px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
        }

        .dt-buttons {
            padding-top: 10px;
        }

        .hidePadding {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    </style>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">

                <div style="float: right">
                    {% if not request.user|has_group:"Moderator" %}

                        <button style="background-color: #3F51B5;color: white;margin-bottom: 10px" type="button"
                                class="btn  waves-effect " data-toggle="modal" data-target="#defaultModal">Add New
                            System
                        </button>
                    {% endif %}
                </div>
            </div>


            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidePadding">
                    <div class="card">

                        <div class="header">
                            <h2>
                                ATTENDANCE SYSTEM LIST
                            </h2>

                        </div>

                        <div class="body">
                            <div class="table-responsive">
                                <table id="systemTable" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>SystemName</th>
                                        <th>Location</th>
                                        <th>UserName</th>
                                        <th>Password</th>
                                        <th>Datetime</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>SystemName</th>
                                        <th>Location</th>
                                        <th>UserName</th>
                                        <th>Password</th>
                                        <th>Datetime</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Add New System</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'attendanceApp:add_login_system_api' %}" id="AddSystemForm"
                          method="post"> {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">

                                    <div class="body">

                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">computer</i>
                                        </span>
                                                    <div class="form-line">
                                                        <input type="text" class="form-control date"
                                                               placeholder="System Name" name="Sname" id="Sname">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                        <i class="material-icons">location_on</i>
                                        </span>
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Location"
                                                               name="Saddress" id="Saddress">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">remove_red_eye</i>
                                        </span>
                                                    <div class="form-line">
                                                        <input type="text" class="form-control date"
                                                               placeholder="Password" name="Spass" id="Spass">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" onclick="AddSystem()">Submit</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="defaultModalEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Edit System</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'attendanceApp:edit_login_system_api' %}" id="EditSystemForm"
                          method="post"> {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">

                                    <div class="body">
                                        <input type="hidden" id="ESID" name="ESID">
                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">computer</i>
                                        </span>
                                                    <div class="form-line">
                                                        <input type="text" class="form-control date"
                                                               placeholder="System Name" name="ESname" id="ESname">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                        <i class="material-icons">location_on</i>
                                        </span>
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Location"
                                                               name="ESaddress" id="ESaddress">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">remove_red_eye</i>
                                        </span>
                                                    <div class="form-line">
                                                        <input type="text" class="form-control date"
                                                               placeholder="Password" name="ESpass" id="ESpass">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" onclick="EditSystem()">Submit</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('#systemTable').dataTable({
                dom: 'Blfrtip',
                buttons: ['excel', 'print'
                ],
                "columnDefs": [
                    {"name": "id", "targets": 0, "orderable": false},
                    {"name": "systemName", "targets": 1, "orderable": true},
                    {"name": "location", "targets": 2, "orderable": true},
                    {"name": "username", "targets": 3, "orderable": true},
                    {"name": "password", "targets": 4, "orderable": true},
                    {"name": "datetime", "targets": 5, "orderable": true},
                    {"name": "action", "targets": 6, "orderable": false},

                ],
                aaSorting: [[5, 'desc']],
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'attendanceApp:LoginSystemListJson' %}"
            });
        });


    </script>

    <script>
        function AddSystem() {
            var Sname = $('#Sname').val();
            var Saddress = $('#Saddress').val();
            var Spass = $('#Spass').val();


            if (Sname === "" || Saddress === "" || Spass === "") {
                $('#name_status').addClass('validate_data');
                $('#name_status').html('All fields are required.');
                $('#name_status').fadeIn().fadeOut(2000);

            }
            else {

                $('#AddSystemForm').submit();

            }


        }

        function EditSystem() {
            var Sname = $('#ESname').val();
            var Saddress = $('#ESaddress').val();
            var Spass = $('#ESpass').val();


            if (Sname === "" || Saddress === "" || Spass === "") {
                $('#name_status').addClass('validate_data');
                $('#name_status').html('All fields are required.');
                $('#name_status').fadeIn().fadeOut(2000);

            }
            else {

                $('#EditSystemForm').submit();

            }


        }

        function getSystemData(id, name, location, password) {
            $('#ESID').val(id);
            $('#ESname').val(name);
            $('#ESpass').val(password);
            $('#ESaddress').val(location);

        }

        function updateCompany() {
            var ECname = $('#ECname').val();


            if (ECname === "") {
                $('#name_status').addClass('validate_data');
                $('#name_status').html('Company name required.');
                $('#name_status').fadeIn().fadeOut(2000);

            }
            else {

                $('#EditCompanyForm').submit();

            }


        }
    </script>
{% endblock %}