{% extends 'mamtaApp/index.html' %}
{% load staticfiles %}
{% block body %}
    <style>

        .card {
            background: #fff;
            min-height: 50px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
            position: relative;
            margin-bottom: 30px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
        }

        .dt-buttons {
            padding-top: 10px;
        }

        .hidePadding {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    </style>
    <section class="content">
        <div class="container-fluid">


            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidePadding">
                    <div class="card">

                        <div class="header">
                            <h2>
                                LOGIN RECORDS
                            </h2>

                        </div>

                        <div class="body">
                            <div class="table-responsive">
                                <table id="LoginTable" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Username</th>
                                        <th>Status</th>
                                        <th>Datetime</th>

                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Username</th>
                                        <th>Status</th>
                                        <th>Datetime</th>


                                    </tr>
                                    </tfoot>
                                    <tbody>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidePadding">
                    <div class="card">

                        <div class="header">
                            <h2>
                                LOGOUT RECORDS
                            </h2>

                        </div>

                        <div class="body">
                            <div class="table-responsive">
                                <table id="LogoutTable" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Username</th>
                                        <th>Status</th>
                                        <th>Datetime</th>

                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Username</th>
                                        <th>Status</th>
                                        <th>Datetime</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('#LoginTable').dataTable({
                dom: 'Blfrtip',
                buttons: ['excel', 'print'
                ],
                "columnDefs": [
                    {"name": "id", "targets": 0, "orderable": false},
                    {"name": "userID", "targets": 1, "orderable": true},
                    {"name": "statusType", "targets": 2, "orderable": true},
                    {"name": "datetime", "targets": 3, "orderable": true},

                ],
                aaSorting: [[3, 'desc']],
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'mamtaApp:LoginListJson' %}"
            });

            $('#LogoutTable').dataTable({
                dom: 'Blfrtip',
                buttons: ['excel', 'print'
                ],
                "columnDefs": [
                    {"name": "id", "targets": 0, "orderable": false},
                    {"name": "userID", "targets": 1, "orderable": true},
                    {"name": "statusType", "targets": 2, "orderable": true},
                    {"name": "datetime", "targets": 3, "orderable": true},

                ],
                aaSorting: [[3, 'desc']],
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'mamtaApp:LogoutListJson' %}"
            });
        });


    </script>
{% endblock %}