{% extends 'mamtaApp/index.html' %}
{% load staticfiles %}
{% block body %}
    <link href="{% static 'date/bootstrap-datepicker.css' %}" rel="stylesheet">
    <style>
        .zoom {

            transition: transform .2s; /* Animation */
            width: 100px;
            height: 100px;
            margin: 0 auto;
        }

        .zoom:hover {
            transform: scale(3);
        }

        .card {
            background: #fff;
            min-height: 50px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
            position: relative;
            margin-bottom: 30px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
        }

        @media only screen and (max-width: 600px) {
            .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                position: relative;
                min-height: 1px;
                padding-right: 0px !important;
                padding-left: 0px !important;
            }

            .buttondown {
                margin-bottom: 10px;
            }
        }

        .dt-buttons {
            padding-top: 10px;
        }

        .datepicker {
            top: 200px !important;
            left: 45px;
            z-index: 10;
            display: block;
        }


    </style>

    <section class="content">
        <div class="container-fluid">

            <div class="row clearfix">


                <div class="col-md-3 col-sm-6 col-xs-6" style="padding-right: 2px!important;">
                    <div class="form-group ">
                        <label for="cc-number" class="control-label mb-1">Start Date</label>
                        <input data-date-end-date="0d" data-provide="datepicker" data-role="datepicker" name="startDate"
                               id="startDate" type="text"
                               class="form-control " placeholder=" DD/MM/YYYY" value="{{ date }}">
                        <span></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6" style="padding-left: 2px!important;">
                    <div class="form-group  ">
                        <label for="cc-number" class="control-label mb-1">End Date</label>
                        <input data-date-end-date="0d" data-provide="datepicker" data-role="datepicker" name="endDate"
                               id="endDate" type="text"
                               class="form-control " placeholder=" DD/MM/YYYY" value="{{ date }}">
                        <span></span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <label for="">Staff</label>
                    <select class="form-control show-tick" id="staff">
                        <option value="all">All</option>
                        {% for user in users %}
                            <option value="{{ user.pk }}">{{ user.name }}</option>
                        {% endfor %}


                    </select>

                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 buttondown "
                     style="margin-top: 26px;text-align: center!important;">

                    <button style="background-color: #3F51B5;color: white;" type="button" class="btn  waves-effect "
                            onclick="getData()">Search
                    </button>
                </div>

            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="header">
                            <h2>
                                BUYER TRANSACTIONS (CASH)
                            </h2>
                            <button onclick="location.reload();" title="Refresh" style="    background-color: #4af3aa;color: white;top: 12px;position: absolute;right: 10px;
    border-radius: 32%;" type="button"
                                    class="btn  waves-effect ">
                                <i class="material-icons">refresh</i></button>

                        </div>


                        <div class="body">
                            <div class="table-responsive">
                                <table id="collectionTable" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Buyer Name</th>
                                        <th>Amount(₹)</th>
                                        <th>Collected By</th>
                                        <th>Remark</th>
                                        <th>Collected On</th>
                                        <th>Detail</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Buyer Name</th>
                                        <th>Amount(₹)</th>
                                        <th>Collected By</th>
                                        <th>Remark</th>
                                        <th>Collected On</th>
                                        <th>Detail</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="header">
                            <h2>
                                BUYER TRANSACTIONS (CHEQUE)
                            </h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="collectionTableCheque"
                                       class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Buyer Name</th>
                                        <th>Amount(₹)</th>
                                        <th>Collected By</th>
                                        <th>Remark</th>
                                        <th>Collected On</th>
                                        <th>Detail</th>

                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th>Buyer Name</th>
                                        <th>Amount(₹)</th>
                                        <th>Collected By</th>
                                        <th>Remark</th>
                                        <th>Collected On</th>
                                        <th>Detail</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Cheque Image</h4>
                </div>
                <div class="modal-body">
                    <img src="" alt="" id="cImage" style="height: 300px;width: 100%;object-fit: contain;">
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="defaultModalMap" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Location</h4>
                </div>
                <div class="modal-body">
                    <div id="map" style="height: 300px;width: 100%;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'date/bootstrap-datepicker.js' %}"></script>
    <script>
        $.fn.datepicker.defaults.format = "dd/mm/yyyy";
        $('.datepicker').datepicker({});


    </script>

    <script>
        var ctab;
        var dtab;

        $(document).ready(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var staff = $('#staff').val();


            ctab = $('#collectionTable').dataTable({
                dom: 'Blfrtip',
                buttons: ['excel', 'print'
                ],
                "columnDefs": [
                    {"name": "id", "targets": 0, "orderable": false},
                    {"name": "buyerID.name", "targets": 1, "orderable": true},
                    {"name": "amount", "targets": 2, "orderable": true},
                    {"name": "collectedBy.name", "targets": 3, "orderable": true},
                    {"name": "remark", "targets": 4, "orderable": true},
                    {"name": "datetime", "targets": 5, "orderable": true},
                    {"name": "action", "targets": 6, "orderable": false},
                ],
                aaSorting: [[5, 'desc']],
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'mamtaApp:CollectionListCashJson' %}?staff=" + staff + "&startDate=" + startDate + "&endDate=" + endDate

            });

            dtab = $('#collectionTableCheque').dataTable({
                dom: 'Blfrtip',
                buttons: ['excel', 'print'
                ],
                "columnDefs": [
                    {"name": "id", "targets": 0, "orderable": false},
                    {"name": "buyerID.name", "targets": 1, "orderable": true},
                    {"name": "amount", "targets": 2, "orderable": true},
                    {"name": "collectedBy.name", "targets": 3, "orderable": true},
                    {"name": "remark", "targets": 4, "orderable": true},
                    {"name": "datetime", "targets": 5, "orderable": true},
                    {"name": "action", "targets": 6, "orderable": false},
                ],
                aaSorting: [[5, 'desc']],
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'mamtaApp:CollectionListChequeJson' %}?staff=" + staff + "&startDate=" + startDate + "&endDate=" + endDate

            });
            // ...
        });

        function getData() {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var staff = $('#staff').val();


            ctab.api().ajax.url('{% url "mamtaApp:CollectionListCashJson" %}?staff=' + staff + '&startDate=' + startDate + '&endDate=' + endDate).load();
            dtab.api().ajax.url('{% url "mamtaApp:CollectionListChequeJson" %}?staff=' + staff + '&startDate=' + startDate + '&endDate=' + endDate).load();
        }
        function getImage(url) {

            $('#cImage').attr("src", url);
        }
    </script>
    <script>
        function getLocation(lat, long) {
            initMap(lat, long)
        }
        function initMap(l, lo) {
            var myLatLng = {lat: parseFloat(l), lng: parseFloat(lo)};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXUGTFS09pLVdsYEE9YrO2y4IAncAO2U&callback=initMap">
    </script>
{% endblock %}